 .box{
        width: 100px;
        height: 500px;
        background-color: blueviolet;
        /* transition: all 0.5s ease; */
        /* transition:property duration timeing-funtion dely */
        animation: test 1s ease-in-out infinite;
        /* transform: translate(200px 300px); */
        transform: rotate(45deg);
    }
    @keyframes test{
        /* 0%{
            transform: scaleX(0);
            background-color: brown;
        }
        20%{
             transform: scaleX(50px);
            background-color: black;
        }
        50%{
            background-color: rgb(145, 19, 140);
        }
        75%{
            background-color: darkgrey;
        }
        100%{
            background-color: chartreuse;
        } */
         /* 0%{
            transform: translate(0px);
         }
         100%{
            transform: translate(100px);
         } */
          0%{
            transform: rotate(0);
          }
          100%{
            transform: rotate(360deg);
          }
    }